.orange{
    width: auto;
    height: 245px;
    background-color: orange;
}
.white{
    width: auto;
    height: 245px;
    background-color: white;
}
.image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.image img{
    width:239px;
    


}
.green{
    width: auto;
    height: 245px;
    background-color: green;
    
    
}
